* {
    font-family: sans-serif;
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);

  img {
    z-index: 1;
  }

  .icone img {
    width: 80px;
    position: relative;
    top: 50px;
    margin-left: 47%;
    z-index: 1;
  }

  .login-page {
    width: 360px;
    margin-left: 35%;

  }

  .login-page .text-mojang {
    margin-top: 15px;
    font-size: 12px;
    text-align: center;

  }

  .form {
    position: relative;
    background: #242424;
    max-width: 250px;
    width: 250px;
    max-height: 370px;
    height: 370px;
    margin: 0 auto 40px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
      0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form a {
    text-decoration: none;
    color: #ffffff;
    font-family: "arial";
  }

  .form p {
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    margin: 0px;
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fdfdfd;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #00f7ff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  #mojang {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #00ff2a;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  #mojang:hover,
  #mojang:active,
  #mojang:focus {
    background: #06c000;
  }

  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #00b3c0;
  }

  .form button:disabled {
    background: #444;
    cursor: not-allowed;
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .form .message a {
    color: #4caf50;
    text-decoration: none;
  }

  .form .register-form {
    display: none;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
    color: #2c2c2c;
  }

  .container:before,
  .container:after {
    content: "";
    display: block;
    clear: both;
  }

  .container .info {
    margin: 50px auto;
    text-align: center;
  }

  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }

  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }

  .container .info span a {
    color: #000000;
    text-decoration: none;
  }

  .container .info span .fa {
    color: #ef3b3a;
  }